HL7-xml_v2.4/CRM_C01.xsd

<?xml version="1.0"?>
<!--   v2.xml Message Definitions for Version 2.4 - here: CRM_C01-->
<!--   Copyright (c) 1999-2016, Health Level Seven. All rights reserved.   -->
<!--   (generated on 17.11.2016 by HL7-Database) D:\Eigene Dateien\HL7\Datenbank\hl7_92.mdb-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" xmlns:hl7="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml" version="1.1"><!-- import segment definition for version --><xsd:include schemaLocation="segments.xsd"/><!-- MESSAGE CRM_C01 --><!-- .. message definition CRM_C01 --><xsd:complexType name="CRM_C01.CONTENT"><xsd:sequence><xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="CRM_C01.PATIENT" minOccurs="1" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="CRM_C01" type="CRM_C01.CONTENT"/><xsd:complexType name="CRM_C01.PATIENT.CONTENT"><xsd:sequence><xsd:element ref="PID" minOccurs="1" maxOccurs="1"/><xsd:element ref="PV1" minOccurs="0" maxOccurs="1"/><xsd:element ref="CSR" minOccurs="1" maxOccurs="1"/><xsd:element ref="CSP" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="CRM_C01.PATIENT" type="CRM_C01.PATIENT.CONTENT"/></xsd:schema>
