HL7-xml_v2.4/EAR_U08.xsd

<?xml version="1.0"?>
<!--   v2.xml Message Definitions for Version 2.4 - here: EAR_U08-->
<!--   Copyright (c) 1999-2016, Health Level Seven. All rights reserved.   -->
<!--   (generated on 17.11.2016 by HL7-Database) D:\Eigene Dateien\HL7\Datenbank\hl7_92.mdb-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" xmlns:hl7="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml" version="1.1"><!-- import segment definition for version --><xsd:include schemaLocation="segments.xsd"/><!-- MESSAGE EAR_U08 --><!-- .. message definition EAR_U08 --><xsd:complexType name="EAR_U08.CONTENT"><xsd:sequence><xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="EQU" minOccurs="1" maxOccurs="1"/><xsd:element ref="EAR_U08.COMMAND_RESPONSE" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="ROL" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="EAR_U08" type="EAR_U08.CONTENT"/><xsd:complexType name="EAR_U08.COMMAND_RESPONSE.CONTENT"><xsd:sequence><xsd:element ref="ECD" minOccurs="1" maxOccurs="1"/><xsd:element ref="SAC" minOccurs="0" maxOccurs="1"/><xsd:element ref="ECR" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="EAR_U08.COMMAND_RESPONSE" type="EAR_U08.COMMAND_RESPONSE.CONTENT"/></xsd:schema>
