HL7-xml_v2.4/MFR_M01.xsd

<?xml version="1.0"?>
<!--   v2.xml Message Definitions for Version 2.4 - here: MFR_M01-->
<!--   Copyright (c) 1999-2016, Health Level Seven. All rights reserved.   -->
<!--   (generated on 17.11.2016 by HL7-Database) D:\Eigene Dateien\HL7\Datenbank\hl7_92.mdb-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" xmlns:hl7="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml" version="1.1"><!-- import segment definition for version --><xsd:include schemaLocation="segments.xsd"/><!-- MESSAGE MFR_M01 --><!-- .. message definition MFR_M01 --><xsd:complexType name="MFR_M01.CONTENT"><xsd:sequence><xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="MSA" minOccurs="1" maxOccurs="1"/><xsd:element ref="ERR" minOccurs="0" maxOccurs="1"/><xsd:element ref="QAK" minOccurs="0" maxOccurs="1"/><xsd:element ref="QRD" minOccurs="1" maxOccurs="1"/><xsd:element ref="QRF" minOccurs="0" maxOccurs="1"/><xsd:element ref="MFI" minOccurs="1" maxOccurs="1"/><xsd:element ref="MFR_M01.MF_QUERY" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="DSC" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="MFR_M01" type="MFR_M01.CONTENT"/><xsd:complexType name="MFR_M01.MF_QUERY.CONTENT"><xsd:sequence><xsd:element ref="MFE" minOccurs="1" maxOccurs="1"/><xsd:element ref="Zxx" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="MFR_M01.MF_QUERY" type="MFR_M01.MF_QUERY.CONTENT"/></xsd:schema>
