HL7-xml_v2.4/ORS_O06.xsd

<?xml version="1.0"?>
<!--   v2.xml Message Definitions for Version 2.4 - here: ORS_O06-->
<!--   Copyright (c) 1999-2016, Health Level Seven. All rights reserved.   -->
<!--   (generated on 17.11.2016 by HL7-Database) D:\Eigene Dateien\HL7\Datenbank\hl7_92.mdb-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" xmlns:hl7="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml" version="1.1"><!-- import segment definition for version --><xsd:include schemaLocation="segments.xsd"/><!-- MESSAGE ORS_O06 --><!-- .. message definition ORS_O06 --><xsd:complexType name="ORS_O06.CONTENT"><xsd:sequence><xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="MSA" minOccurs="1" maxOccurs="1"/><xsd:element ref="ERR" minOccurs="0" maxOccurs="1"/><xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="ORS_O06.RESPONSE" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="ORS_O06" type="ORS_O06.CONTENT"/><xsd:complexType name="ORS_O06.RESPONSE.CONTENT"><xsd:sequence><xsd:element ref="ORS_O06.PATIENT" minOccurs="0" maxOccurs="1"/><xsd:element ref="ORS_O06.ORDER" minOccurs="1" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="ORS_O06.RESPONSE" type="ORS_O06.RESPONSE.CONTENT"/><xsd:complexType name="ORS_O06.PATIENT.CONTENT"><xsd:sequence><xsd:element ref="PID" minOccurs="1" maxOccurs="1"/><xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="ORS_O06.PATIENT" type="ORS_O06.PATIENT.CONTENT"/><xsd:complexType name="ORS_O06.ORDER.CONTENT"><xsd:sequence><xsd:element ref="ORC" minOccurs="1" maxOccurs="1"/><xsd:element ref="RQD" minOccurs="1" maxOccurs="1"/><xsd:element ref="RQ1" minOccurs="0" maxOccurs="1"/><xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="ORS_O06.ORDER" type="ORS_O06.ORDER.CONTENT"/></xsd:schema>
