HL7-xml_v2.4/RCI_I05.xsd

<?xml version="1.0"?>
<!--   v2.xml Message Definitions for Version 2.4 - here: RCI_I05-->
<!--   Copyright (c) 1999-2016, Health Level Seven. All rights reserved.   -->
<!--   (generated on 17.11.2016 by HL7-Database) D:\Eigene Dateien\HL7\Datenbank\hl7_92.mdb-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" xmlns:hl7="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml" version="1.1"><!-- import segment definition for version --><xsd:include schemaLocation="segments.xsd"/><!-- MESSAGE RCI_I05 --><!-- .. message definition RCI_I05 --><xsd:complexType name="RCI_I05.CONTENT"><xsd:sequence><xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="MSA" minOccurs="1" maxOccurs="1"/><xsd:element ref="QRD" minOccurs="1" maxOccurs="1"/><xsd:element ref="QRF" minOccurs="0" maxOccurs="1"/><xsd:element ref="RCI_I05.PROVIDER" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="PID" minOccurs="1" maxOccurs="1"/><xsd:element ref="DG1" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="DRG" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="AL1" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="RCI_I05.c" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="RCI_I05" type="RCI_I05.CONTENT"/><xsd:complexType name="RCI_I05.PROVIDER.CONTENT"><xsd:sequence><xsd:element ref="PRD" minOccurs="1" maxOccurs="1"/><xsd:element ref="CTD" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="RCI_I05.PROVIDER" type="RCI_I05.PROVIDER.CONTENT"/><xsd:complexType name="RCI_I05.c.CONTENT"><xsd:sequence><xsd:element ref="OBR" minOccurs="1" maxOccurs="1"/><xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="RCI_I05.RESULTS" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="RCI_I05.c" type="RCI_I05.c.CONTENT"/><xsd:complexType name="RCI_I05.RESULTS.CONTENT"><xsd:sequence><xsd:element ref="OBX" minOccurs="1" maxOccurs="1"/><xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="RCI_I05.RESULTS" type="RCI_I05.RESULTS.CONTENT"/></xsd:schema>
