HL7-xml_v2.4/ROR_ROR.xsd

<?xml version="1.0"?>
<!--   v2.xml Message Definitions for Version 2.4 - here: ROR_ROR-->
<!--   Copyright (c) 1999-2016, Health Level Seven. All rights reserved.   -->
<!--   (generated on 17.11.2016 by HL7-Database) D:\Eigene Dateien\HL7\Datenbank\hl7_92.mdb-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" xmlns:hl7="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml" version="1.1"><!-- import segment definition for version --><xsd:include schemaLocation="segments.xsd"/><!-- MESSAGE ROR_ROR --><!-- .. message definition ROR_ROR --><xsd:complexType name="ROR_ROR.CONTENT"><xsd:sequence><xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="MSA" minOccurs="1" maxOccurs="1"/><xsd:element ref="ERR" minOccurs="0" maxOccurs="1"/><xsd:element ref="ROR_ROR.DEFINITION" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="DSC" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="ROR_ROR" type="ROR_ROR.CONTENT"/><xsd:complexType name="ROR_ROR.DEFINITION.CONTENT"><xsd:sequence><xsd:element ref="QRD" minOccurs="1" maxOccurs="1"/><xsd:element ref="QRF" minOccurs="0" maxOccurs="1"/><xsd:element ref="ROR_ROR.PATIENT" minOccurs="0" maxOccurs="1"/><xsd:element ref="ROR_ROR.ORDER" minOccurs="1" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="ROR_ROR.DEFINITION" type="ROR_ROR.DEFINITION.CONTENT"/><xsd:complexType name="ROR_ROR.PATIENT.CONTENT"><xsd:sequence><xsd:element ref="PID" minOccurs="1" maxOccurs="1"/><xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="ROR_ROR.PATIENT" type="ROR_ROR.PATIENT.CONTENT"/><xsd:complexType name="ROR_ROR.ORDER.CONTENT"><xsd:sequence><xsd:element ref="ORC" minOccurs="1" maxOccurs="1"/><xsd:element ref="RXO" minOccurs="1" maxOccurs="1"/><xsd:element ref="RXR" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="RXC" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="ROR_ROR.ORDER" type="ROR_ROR.ORDER.CONTENT"/></xsd:schema>
