HL7-xml_v2.4/RRE_O12.xsd

<?xml version="1.0"?>
<!--   v2.xml Message Definitions for Version 2.4 - here: RRE_O12-->
<!--   Copyright (c) 1999-2016, Health Level Seven. All rights reserved.   -->
<!--   (generated on 17.11.2016 by HL7-Database) D:\Eigene Dateien\HL7\Datenbank\hl7_92.mdb-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" xmlns:hl7="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml" version="1.1"><!-- import segment definition for version --><xsd:include schemaLocation="segments.xsd"/><!-- MESSAGE RRE_O12 --><!-- .. message definition RRE_O12 --><xsd:complexType name="RRE_O12.CONTENT"><xsd:sequence><xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="MSA" minOccurs="1" maxOccurs="1"/><xsd:element ref="ERR" minOccurs="0" maxOccurs="1"/><xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="RRE_O12.RESPONSE" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="RRE_O12" type="RRE_O12.CONTENT"/><xsd:complexType name="RRE_O12.RESPONSE.CONTENT"><xsd:sequence><xsd:element ref="RRE_O12.PATIENT" minOccurs="0" maxOccurs="1"/><xsd:element ref="RRE_O12.ORDER" minOccurs="1" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="RRE_O12.RESPONSE" type="RRE_O12.RESPONSE.CONTENT"/><xsd:complexType name="RRE_O12.PATIENT.CONTENT"><xsd:sequence><xsd:element ref="PID" minOccurs="1" maxOccurs="1"/><xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="RRE_O12.PATIENT" type="RRE_O12.PATIENT.CONTENT"/><xsd:complexType name="RRE_O12.ORDER.CONTENT"><xsd:sequence><xsd:element ref="ORC" minOccurs="1" maxOccurs="1"/><xsd:element ref="RRE_O12.ENCODING" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="RRE_O12.ORDER" type="RRE_O12.ORDER.CONTENT"/><xsd:complexType name="RRE_O12.ENCODING.CONTENT"><xsd:sequence><xsd:element ref="RXE" minOccurs="1" maxOccurs="1"/><xsd:element ref="RXR" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="RXC" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="RRE_O12.ENCODING" type="RRE_O12.ENCODING.CONTENT"/></xsd:schema>
