HL7-xml_v2.4/RTB_Q13.xsd

<?xml version="1.0"?>
<!--   v2.xml Message Definitions for Version 2.4 - here: RTB_Q13-->
<!--   Copyright (c) 1999-2016, Health Level Seven. All rights reserved.   -->
<!--   (generated on 17.11.2016 by HL7-Database) D:\Eigene Dateien\HL7\Datenbank\hl7_92.mdb-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" xmlns:hl7="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml" version="1.1"><!-- import segment definition for version --><xsd:include schemaLocation="segments.xsd"/><!-- MESSAGE RTB_Q13 --><!-- .. message definition RTB_Q13 --><xsd:complexType name="RTB_Q13.CONTENT"><xsd:sequence><xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="MSA" minOccurs="1" maxOccurs="1"/><xsd:element ref="ERR" minOccurs="0" maxOccurs="1"/><xsd:element ref="QAK" minOccurs="1" maxOccurs="1"/><xsd:element ref="QPD" minOccurs="1" maxOccurs="1"/><xsd:element ref="RTB_Q13.ROW_DEFINITION" minOccurs="0" maxOccurs="1"/><xsd:element ref="DSC" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="RTB_Q13" type="RTB_Q13.CONTENT"/><xsd:complexType name="RTB_Q13.ROW_DEFINITION.CONTENT"><xsd:sequence><xsd:element ref="RDF" minOccurs="1" maxOccurs="1"/><xsd:element ref="RDT" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="RTB_Q13.ROW_DEFINITION" type="RTB_Q13.ROW_DEFINITION.CONTENT"/></xsd:schema>
