HL7-xml_v2.4/SUR_P09.xsd

<?xml version="1.0"?>
<!--   v2.xml Message Definitions for Version 2.4 - here: SUR_P09-->
<!--   Copyright (c) 1999-2016, Health Level Seven. All rights reserved.   -->
<!--   (generated on 17.11.2016 by HL7-Database) D:\Eigene Dateien\HL7\Datenbank\hl7_92.mdb-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" xmlns:hl7="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml" version="1.1"><!-- import segment definition for version --><xsd:include schemaLocation="segments.xsd"/><!-- MESSAGE SUR_P09 --><!-- .. message definition SUR_P09 --><xsd:complexType name="SUR_P09.CONTENT"><xsd:sequence><xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="SUR_P09.FACILITY" minOccurs="1" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="SUR_P09" type="SUR_P09.CONTENT"/><xsd:complexType name="SUR_P09.FACILITY.CONTENT"><xsd:sequence><xsd:element ref="FAC" minOccurs="1" maxOccurs="1"/><xsd:element ref="SUR_P09.PRODUCT" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="PSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="SUR_P09.FACILITY_DETAIL" minOccurs="1" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="SUR_P09.FACILITY" type="SUR_P09.FACILITY.CONTENT"/><xsd:complexType name="SUR_P09.PRODUCT.CONTENT"><xsd:sequence><xsd:element ref="PSH" minOccurs="1" maxOccurs="1"/><xsd:element ref="PDC" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="SUR_P09.PRODUCT" type="SUR_P09.PRODUCT.CONTENT"/><xsd:complexType name="SUR_P09.FACILITY_DETAIL.CONTENT"><xsd:sequence><xsd:element ref="FAC" minOccurs="1" maxOccurs="1"/><xsd:element ref="PDC" minOccurs="1" maxOccurs="1"/><xsd:element ref="NTE" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="SUR_P09.FACILITY_DETAIL" type="SUR_P09.FACILITY_DETAIL.CONTENT"/></xsd:schema>
